.fab {
  position: fixed;      
  bottom: 30px;         
  right: 30px;          
  width: 60px;          
  height: 60px;
  color: white;
  font-size: 2rem;      
  border-radius: 40%;   /* rond parfait */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: background 0.3s, transform 0.2s;
  cursor: pointer;
  padding: 0;           /* PAS de padding */
  line-height: 1;       /* éviter l’oval */
}

.fab:hover {
    border-color: #42a5f5;
  transform: translateY(-5px) scale(1.1);
}
